@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-100;
  }

  h1 {
    @apply text-2xl font-semibold mt-6 mb-2;
  }

  h2 {
    @apply text-xl font-semibold mt-6 mb-2;
  }
  h3 {
    @apply text-lg font-semibold mt-6 mb-2;
  }
}
